.appRoot {
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 100%;
    width: 100%;
}

.appSidebar {

}

.appBody {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}
