.chatContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

.conversationContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chatInputContainer {
    position: sticky;
    bottom: 0;
    display: flex;
    padding-bottom: 1rem;
    padding-top: 2rem;
    background: linear-gradient(to bottom, transparent, var(--primary-bg-dark));
}

.choiceButtonContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.chatInput {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
    width: min(75%, 1500px);
}

.inputMock {
    margin-right: auto;
    flex: 1;
    display: flex;
    justify-content: center;
}

.chatInput textarea {
    max-width: 75%;
    margin: 0;
}

.chatInput textarea:hover,
.chatInput textarea:focus {
    outline: none;
    box-shadow: 0 0 0.25rem var(--button-bg-enabled);
}

.chatInput button {
    position: relative;
    margin-left: 10px;
    border: .25em solid var(--button-bg-enabled);
    border-radius: 50%;
    background: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    padding: 5px;
}

.chatInput button.disabled {
    cursor: default;
    background-color: var(--button-bg-disabled);
    border-color: var(--button-bg-disabled-border);
    box-shadow: none;
}

.chatInput .stopButton.disabled,
.chatInput .regenerateButton.disabled {
    display: none;
}

.generateButton:hover {
    border-color: var(--button-bg-generate-hover);
    box-shadow: 0 0 0.25rem var(--button-bg-generate-hover);
}

.stopButton:hover {
    border-color: var(--button-bg-stop-hover);
    box-shadow: 0 0 0.25rem var(--button-bg-stop-hover);
}

.regenerateButton:hover {
    border-color: var(--button-bg-regenerate-hover);
    box-shadow: 0 0 0.25rem var(--button-bg-regenerate-hover);
}

.chatInputField {
    position: relative;
    flex: 1;
    margin: auto;
    padding: .5rem;
    font-size: 1.05rem;
    resize: none;
    border-radius: .25em;
    overflow: auto;
    word-break: break-all;
    justify-content: center;
    background-color: var(--primary-bg-light);
    color: var(--primary-txt-light);
    max-height: 200px;
    border: 0.1rem solid var(--secondary-bg-dark);
}
