.messageContainer {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: min(75%, 1500px);
}

.messageContainer p,
.messageContainer span{
    font-size: 1.05rem;
    color: var(--primary-txt-light);
    overflow-x: auto;
}

.messageContent {
    max-width: 50%;
    padding: 1.25rem;
    /*width: fit-content;*/
    border-radius: .5rem;
}

.messageContent code {
    color: rgb(204, 120, 50); /* dark orange */
}

.messageContent p:not(:first-child):not(:last-child) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.messageContent .error {
    text-align: center;
    font-weight: bolder;
    color: red;
    background-color: var(--primary-txt-light);
    border: .15em solid red;
    padding: 0.5em;
    border-radius: .5em;
    margin: 0.5em 0;
}

.messageAdditionalInfo {
    margin-top: 1em;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
}

.infoContainer span {
    font-size: 1rem;
    color: var(--primary-txt-light);
    margin: 0;
}

.infoContainer button {
    position: relative;
    width: 16px;
    height: 16px;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    fill: var(--primary-txt-light);
}

.infoContainer button:hover {
    fill: var(--primary-yellow);
}

.infoContainer button:disabled {
    fill: var(--button-bg-disabled);
    cursor: default;
}

.user {
    position: relative;
    align-self: flex-end;
    background-color: var(--primary-bg-dark);
    box-shadow: 0 0 0.5rem var(--primary-bg-dark);
}

.assistant {
    position: relative;
    align-self: flex-start;
    background-color: var(--primary-bg-light);
    box-shadow: 0 0 0.5rem var(--primary-bg-light);
}

.user::after {
    content: "";
    background-image: url("../public/images/user_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 2rem;
    right: -2rem;
    transform: translateY(-50%) translateX(50%);
    width: 4rem;
    height: 4rem;
    object-fit: contain;
}

.assistant::after {
    content: "";
    background-image: url("../public/images/chatbot_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 2rem;
    left: -2rem;
    transform: translateY(-50%) translateX(-50%);
    width: 4rem;
    height: 4rem;
    object-fit: contain;
}